@model MatchDetailsViewModel

<section class="match-details text-white">
    <article class="text-center mt-5 mb-5">
        <div class="mb-5">
            @if (Model.RadiantWin)
            {
                <h1 class="text-success font-weight-bold">Radiant Victory</h1>
            }
            else
            {
                <h1 class="text-danger font-weight-bold">Dire Victory</h1>
            }
        </div>
        <div class="d-inline-block">
            <h1 class="text-success font-weight-bold">@Model.RadiantScore</h1>
        </div>
        <div class="d-inline-block align-middle ml-3 mr-3">
            <h4>@Model.Duration</h4>
            <h3>@Model.GameMode</h3>
        </div>
        <div class="d-inline-block">
            <h1 class="text-danger font-weight-bold">@Model.DireScore</h1>
        </div>
    </article>
    <h1 class="text-center">Radiant:</h1>
    @await Html.PartialAsync("MatchTeamTablePartial", Model.Players.Where(x => x.IsRadiant).ToList())

    @if (this.Model.PicksAndBans.Any())
    {
        <div class="text-center">
            @await Html.PartialAsync("PickAndBanPartial", this.Model.PicksAndBans.Where(x => x.IsRadiant).OrderBy(x => x.Order).ToList())
        </div>
    }


    <h1 class="text-center mt-5">Dire:</h1>
    @await Html.PartialAsync("MatchTeamTablePartial", Model.Players.Where(x => !x.IsRadiant).ToList())

    @if (this.Model.PicksAndBans.Any())
    {
        <div class="text-center">
            @await Html.PartialAsync("PickAndBanPartial", this.Model.PicksAndBans.Where(x => !x.IsRadiant).OrderBy(x => x.Order).ToList())
        </div>
    }
</section>