@model PlayerSearchViewModel
@if (Model.Players.Any())
{
    <h1 class="text-center text-white">Players found:</h1>
    <section class="search-players">
        @foreach (var item in this.Model.Players)
        {
            <article>
                <a href="/players/details/@item.AccountId">
                    <h5 class="text-white">@item.Name</h5>
                    <img src=@item.AvatarUrl alt=@item.Name />
                </a>
            </article>
        }
    </section>
}
else
{
    <h1 class="text-center text-white">No players found!</h1>
}


