@model GuideListViewModel

<section class="w-75 m-auto">
    <h1 class="mb-5 text-white">Available guides:</h1>
    @foreach (var guide in this.Model.Guides)
    {
        <div class="m-5">
            <div class="d-inline-block">
                <img src=@guide.HeroImageUrl alt=@guide.HeroId />
            </div>
            <div class="d-inline-block align-middle">
                <h1><a class="text-white" asp-action="Details" asp-route-id=@guide.Id>@guide.Title</a></h1>
                <div class="d-inline-block">
                    @foreach (var item in guide.Items)
                    {
                        @await Html.PartialAsync("GuidePartial", item);
                    }
                </div>
            </div>            
        </div>
    }

    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.MaxPage; i++)
            {
                <li class="page-item"><a class="page-link" asp-controller="Guides" asp-route-page=@i>@i</a></li>
            }
        </ul>
    </nav>
</section>