@{
    ViewData["Title"] = "Home Page";
}

<section id='home'>
    <h1 class="text-light">The best website to look at DotA statistics or guides!</h1>
    <h3 class="text-light">Search players</h3>
    <form action="/players/search" method="post" id="search-form">
        <div class="form-group">
            <input id="search" class="form-control" type="text" name="name" placeholder="Search" />
            <small id="search-errors" class="form-text text-white"></small>
        </div>
    </form>
</section>
